/*Slik vil du at alle h2-elementer i du-har-spart-seksjonen skal se ut*/
#du-har-spart-tekst h2 {
  display: inline;
}

/*Slik vil du at det elementet som har id "sparesum" skal se ut*/
#sparesum {
  font-size: 40px;
  color: green;
  font-weight: 600;
}
